* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1420px;
    min-width: 1000px;
    font-family: 'sans-serif';
}

nav {
    justify-content: space-between;
    align-items: center;
}

nav  {
    padding: 1rem .5rem;
}

main {
    /*Da togliere in seguito*/
    background-color: rgb(185, 249, 228);

    height: 2000px;
}

footer {
    background-color: rgb(165, 165, 165);

    /*Da togliere in seguito*/
    height: 500px;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: black
}

nav  img {
    height: 18px;
    width: 85px;
}

nav ul li {
    margin-left: 1rem;
    margin-right: 1rem;
}

section.jumbotron {
    background-color: #b4d0e7;
    width: 100%;

    /*Da togliere in seguito*/ 
    height: 500px;

}

div.jumbotron,
div.footer {
    width: 62%;
    background-color: white;
    
    /*Da togliere in seguito*/
    height: 300px;
}

div.container-main {
    width: 50%;
    height: 90%;

    /*Da togliere in seguito*/
    background-color: white;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}