* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1420px;
    min-width: 700px;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: .8rem;
    
}


nav {
    justify-content: space-between;
    align-items: center;
    padding: 1rem .5rem;

}


main {
    flex-direction: column;
    padding:2rem 0;

}

footer {
    background-color: #000000;

    padding: 2.5rem 0;

}

ul {
    list-style-type: none;
}

nav ul {
    display: flex;
}


nav a,
footer a {
    text-decoration: none;
    color: #7a7a7a;
}

h1 {
    font-size: 3.7rem;
}

p {
    font-weight: 350;
    line-height: 1rem;
}


nav  img {
    height: 18px;
    width: 90px;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

main section {
    padding: 2rem 0;
}

nav ul li a {
    margin-left: 1rem;
    margin-right: 1rem;

    vertical-align: center;

}

section > *:not(.horizontal){
    padding: 2rem 0; 
}

section.jumbotron {
    background-color: #b4d0e7;
    width: 100%;
    /* padding:5rem 0 6rem; */
}

div.jumbotron,
.footer {
    width: 62%;    
}

div.jumbotron > * {
    margin-bottom: 1rem;
}

div.container-main {
    width: 58%;
    height: 90%;

    padding: 1.5rem 0;

    /*Da togliere in seguito*/
    background-color: white;
}

div.jumbotron img {
    width: 620px;
    height: 330px;
}

main div.container-main section.flex img{
    height: 400px;
    width: 500px;
}

.section-article-operation {
    flex-wrap: wrap;
}
main div.container-main section article.flex {
    width: calc((100% / 3) - 2rem);
    padding: 1.5rem 0;
}

main div.container-main section article.flex img {
    height: 75px;
    width: 158px;
}

section.loghi img:not(div.logo-azienda-principale img){
    height: 50%;
    width: 50%;
    color: white;
    
    padding: 2rem 2rem;
    
    background-color: rgb(217, 255, 184);
}

div.container-main.accordion h2,
div.container-main.accordion h3 {
    border-bottom : .5px solid #7a7a7a;
}
/* div.logo-azienda-principale {
    height: 150px;
    width: 200px;
} */

img.partner {
    padding-right: 2rem;
}

.right-shifted-sezione {
    width: 30%;
}
.divisorio-piccolo {
    width: 10%;
    height: 1px;
    border: .5px solid #7a7a7a;
}

.vertical-1,
.vertical-2,
.vertical-3 {
    width: calc(33% - 2rem);

    border: .5px solid #7a7a7a;
}

.vertical-1a,
.horizontal-a {
    padding: .3rem 0;
    border-bottom: .5px solid #7a7a7a;
}

.vertical-1b,
.vertical-1c {
    padding: 1rem .5rem;
}

.horizontal {
    border: .5px solid #7a7a7a;
}

.horizontal-b,
.horizontal-c {
    padding: .5rem .7rem;
}






.blocco-1,
.blocco-2,
.blocco-3 {
    width: calc(100% / 3);
}

.less-width {
    width: 50%;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.bottone-blu {
    background-color: #0061ff;
    color: white;
    padding: .3rem .6rem;
    border: transparent;
    font-size: .8rem;
    
    
}

.inline-block {
    display: inline-block;
}

.grigino {
    color: #7a7a7a;
}


.jumbotron h1 {
    padding-right: 6rem;
}

.relative {
    position:relative
}

.absolute {
    position: absolute;
}

.bottom-right{
    top: 8rem;
    left: 18rem;
}
.bottom-left{
    top: 22rem;
    left: .2rem;
}


div.celestino {
    background-color: #b4d0e7;
    width: 100%;
}

